.enquiry {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
.enquiry .container {
  margin-top: 50px;
  margin-bottom: 60px;
}
.enquiry .container .cardsinfo {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
}
.enquiry .container .cardsinfo .image img {
  width: 100%;
  height: cover;
  border-radius: 10px;
  height: 100%;
  padding: 10px;
}
.enquiry .container .cardsinfo .card-body {
  margin: 0px;
  padding: 0px;
}
.enquiry .container .cardsinfo .card-body .firstsection {
  display: flex;
  justify-content: flex-start;
}
.enquiry .container .cardsinfo .card-body .firstsection h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #163791;
  margin-top: 14px;
  margin-left: 4px;
  margin-left: 10px;
  cursor: pointer;
}
.enquiry .container .cardsinfo .card-body .firstsection h3:hover {
  color: #D42443;
}
.enquiry .container .cardsinfo .card-body .secondsection {
  display: flex;
  justify-content: start;
}
.enquiry .container .cardsinfo .card-body .secondsection .icon i {
  margin: 4px 10px;
  font-size: 20px;
  color: #D42443;
}
.enquiry .container .cardsinfo .card-body .secondsection .detail {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #B1B1B1;
}
.enquiry .container .cardsinfo .card-body .thirsection {
  display: flex;
  justify-content: flex-start;
}
.enquiry .container .cardsinfo .card-body .thirsection .question {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #163791;
  margin-left: 10px;
}
.enquiry .container .cardsinfo .card-body .thirsection .answer {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #333333;
  margin-left: 30px;
}
.enquiry .container .cardsinfo .card-body .fourection {
  display: flex;
  justify-content: flex-start;
}
.enquiry .container .cardsinfo .card-body .fourection .question {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-left: 10px;
  color: #163791;
}
.enquiry .container .cardsinfo .card-body .fourection .answer {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #333333;
  margin-left: 30px;
}
.enquiry .container .cardsinfo .card-body .fifthsection {
  display: flex;
  justify-content: flex-start;
}
.enquiry .container .cardsinfo .card-body .fifthsection .question {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-left: 10px;
  color: #163791;
}
.enquiry .container .cardsinfo .card-body .fifthsection .answer {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #333333;
  margin-left: 30px;
}
.enquiry .container .cardsecondsection .card-body h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #333333;
  margin-left: 30px;
  margin-top: 25px;
}
.enquiry .container .cardsecondsection .card-body .f {
  margin-left: 30px;
  margin-right: 21px;
  margin-top: 13px;
}
.enquiry .container .cardsecondsection .card-body p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #333333;
}
.enquiry .container .cardsecondsection .card-body .s {
  margin-left: 30px;
  margin-right: 21px;
  margin-top: 15px;
  margin-bottom: 33px;
}
.enquiry .container .cardsecondsection .card-body .s p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #333333;
}

@media screen and (min-width: 500px) and (max-width: 778px) {
  .enquiry {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
  }
  .enquiry .container {
    margin-top: 65px;
    margin-bottom: 35px;
  }
  .enquiry .container .cardsinfo {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    width: 100%;
  }
  .enquiry .container .cardsinfo .image {
    background-color: white;
    text-align: center;
    margin: 10px auto;
  }
  .enquiry .container .cardsinfo .image img {
    width: 200px;
    height: 150px;
    border-radius: 50% 50%;
    margin-top: 10px;
  }
  .enquiry .container .cardsinfo .card-body {
    margin: 0px;
    padding: 0px;
  }
  .enquiry .container .cardsinfo .card-body .firstsection {
    display: flex;
    justify-content: center;
  }
  .enquiry .container .cardsinfo .card-body .firstsection h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #163791;
    margin-top: 14px;
    margin-left: 4px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
  }
  .enquiry .container .cardsinfo .card-body .firstsection h3:hover {
    color: #D42443;
  }
  .enquiry .container .cardsinfo .card-body .secondsection {
    display: flex;
    justify-content: start;
    margin: 10px 20px;
  }
  .enquiry .container .cardsinfo .card-body .secondsection .icon i {
    margin: 4px 10px;
    font-size: 20px;
    color: #D42443;
  }
  .enquiry .container .cardsinfo .card-body .secondsection .detail {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #B1B1B1;
  }
  .enquiry .container .cardsinfo .card-body .thirsection {
    display: flex;
    justify-content: flex-start;
    margin: 0px 20px;
  }
  .enquiry .container .cardsinfo .card-body .thirsection .question {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #163791;
    margin-left: 10px;
  }
  .enquiry .container .cardsinfo .card-body .thirsection .answer {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #333333;
    margin-left: 10px;
  }
  .enquiry .container .cardsinfo .card-body .fourection {
    display: flex;
    justify-content: flex-start;
    margin: 0px 20px;
  }
  .enquiry .container .cardsinfo .card-body .fourection .question {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    margin-left: 10px;
    color: #163791;
  }
  .enquiry .container .cardsinfo .card-body .fourection .answer {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #333333;
    margin-left: 10px;
  }
  .enquiry .container .cardsinfo .card-body .fifthsection {
    display: flex;
    justify-content: flex-start;
    margin: 0px 20px;
  }
  .enquiry .container .cardsinfo .card-body .fifthsection .question {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    margin-left: 10px;
    color: #163791;
  }
  .enquiry .container .cardsinfo .card-body .fifthsection .answer {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #333333;
    margin-left: 10px;
  }
  .enquiry .container .secondsection .card-body h5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #333333;
    margin-left: 30px;
    margin-top: 25px;
  }
  .enquiry .container .secondsection .card-body .f {
    margin-left: 30px;
    margin-right: 21px;
    margin-top: 13px;
  }
  .enquiry .container .secondsection .card-body p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #333333;
  }
  .enquiry .container .secondsection .card-body .s {
    margin-left: 30px;
    margin-right: 21px;
    margin-top: 15px;
    margin-bottom: 33px;
  }
  .enquiry .container .secondsection .card-body .s p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #333333;
  }
}
@media screen and (max-width: 500px) {
  .enquiry {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
  }
  .enquiry .container {
    margin-top: 35px;
    margin-bottom: 60px;
  }
  .enquiry .container .cardsinfo {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    width: 100%;
  }
  .enquiry .container .cardsinfo .image {
    background-color: white;
    text-align: center;
    margin: 10px auto;
  }
  .enquiry .container .cardsinfo .image img {
    width: 150px;
    height: 150px;
    border-radius: 50% 50%;
    margin-top: 10px;
  }
  .enquiry .container .cardsinfo .card-body {
    margin: 0px;
    padding: 0px;
  }
  .enquiry .container .cardsinfo .card-body .firstsection {
    display: flex;
    justify-content: center;
  }
  .enquiry .container .cardsinfo .card-body .firstsection h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #163791;
    margin-top: 14px;
    margin-left: 4px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
  }
  .enquiry .container .cardsinfo .card-body .firstsection h3:hover {
    color: #D42443;
  }
  .enquiry .container .cardsinfo .card-body .secondsection {
    display: flex;
    justify-content: start;
    margin: 10px 20px;
  }
  .enquiry .container .cardsinfo .card-body .secondsection .icon i {
    margin: 4px 10px;
    font-size: 20px;
    color: #D42443;
  }
  .enquiry .container .cardsinfo .card-body .secondsection .detail {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #B1B1B1;
  }
  .enquiry .container .cardsinfo .card-body .thirsection {
    display: flex;
    justify-content: flex-start;
    margin: 0px 20px;
  }
  .enquiry .container .cardsinfo .card-body .thirsection .question {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #163791;
    margin-left: 10px;
  }
  .enquiry .container .cardsinfo .card-body .thirsection .answer {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #333333;
    margin-left: 10px;
  }
  .enquiry .container .cardsinfo .card-body .fourection {
    display: flex;
    justify-content: flex-start;
    margin: 0px 20px;
  }
  .enquiry .container .cardsinfo .card-body .fourection .question {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    margin-left: 10px;
    color: #163791;
  }
  .enquiry .container .cardsinfo .card-body .fourection .answer {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #333333;
    margin-left: 10px;
  }
  .enquiry .container .cardsinfo .card-body .fifthsection {
    display: flex;
    justify-content: flex-start;
    margin: 0px 20px;
  }
  .enquiry .container .cardsinfo .card-body .fifthsection .question {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    margin-left: 10px;
    color: #163791;
  }
  .enquiry .container .cardsinfo .card-body .fifthsection .answer {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #333333;
    margin-left: 10px;
  }
  .enquiry .container .secondsection .card-body h5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #333333;
    margin-left: 30px;
    margin-top: 25px;
  }
  .enquiry .container .secondsection .card-body .f {
    margin-left: 30px;
    margin-right: 21px;
    margin-top: 13px;
  }
  .enquiry .container .secondsection .card-body p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #333333;
  }
  .enquiry .container .secondsection .card-body .s {
    margin-left: 30px;
    margin-right: 21px;
    margin-top: 15px;
    margin-bottom: 33px;
  }
  .enquiry .container .secondsection .card-body .s p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #333333;
  }
}/*# sourceMappingURL=enquiry.css.map */