.enquiry {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.enquiry .container {
  margin-top: 115px;
}
.enquiry .container .card-body {
  margin: 0px;
  padding: 0px;
}
.enquiry .container .card-body .first {
  display: flex;
  justify-content: flex-start;
}
.enquiry .container .card-body .first h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #163791;
  margin-top: 14px;
  margin-left: 4px;
  margin-left: 10px;
  cursor: pointer;
}
.enquiry .container .card-body .first h3:hover {
  color: #D42443;
}
.enquiry .container .card-body .second {
  display: flex;
  justify-content: start;
}
.enquiry .container .card-body .second .icon i {
  margin: 4px 10px;
  font-size: 20px;
  color: #D42443;
}
.enquiry .container .card-body .second .detail {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #B1B1B1;
}
.enquiry .container .card-body .thir {
  display: flex;
  justify-content: flex-start;
}
.enquiry .container .card-body .thir .question {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #163791;
  margin-left: 10px;
}
.enquiry .container .card-body .thir .answer {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */
  color: #333333;
  margin-left: 30px;
}
.enquiry .container .card-body .four {
  display: flex;
  justify-content: flex-start;
}
.enquiry .container .card-body .four .question {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-left: 10px;
  color: #163791;
}
.enquiry .container .card-body .four .answer {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */
  color: #333333;
  margin-left: 30px;
}
.enquiry .container .card-body .fif {
  display: flex;
  justify-content: flex-start;
}
.enquiry .container .card-body .fif .question {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-left: 10px;
  color: #163791;
}
.enquiry .container .card-body .fif .answer {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */
  color: #333333;
  margin-left: 30px;
}
.enquiry .container .secondsection .card-body h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */
  color: #333333;
  margin-left: 30px;
  margin-top: 25px;
}
.enquiry .container .secondsection .card-body .f {
  margin-left: 30px;
  margin-right: 21px;
  margin-top: 13px;
}
.enquiry .container .secondsection .card-body p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  color: #333333;
}
.enquiry .container .secondsection .card-body .s {
  margin-left: 30px;
  margin-right: 21px;
  margin-top: 15px;
  margin-bottom: 33px;
}
.enquiry .container .secondsection .card-body .s p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  color: #333333;
}/*# sourceMappingURL=enquiry.css.map */