.enquiry{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    .container{
        margin-top: 115px;
         
        .card-body {
            margin: 0px;
            padding: 0px;

            .first {
                display: flex;
                justify-content: flex-start;

                h3 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 33px;
                    color: #163791;
                    margin-top: 14px;
                    margin-left: 4px;
                    margin-left: 10px;
                    cursor: pointer;
                    

                    &:hover {
                        color: #D42443;
                    }
                }



            }



            .second {
                display: flex;
                justify-content: start;

                .icon {



                    i {
                        margin: 4px 10px;
                        font-size: 20px;
                        color: #D42443;
                    }

                }

                .detail {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 160%;
                    color: #B1B1B1;

                }






            }

            .thir{
                display: flex;
                justify-content: flex-start;


                .question{
                 font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 160%;
color: #163791;
margin-left: 10px;


                }


                .answer{
                    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */


color: #333333;
margin-left: 30px;
                }
                // p {
                //     margin-top: 9px;
                //     font-family: 'Open Sans';
                //     font-style: normal;
                //     font-weight: 600;
                //     font-size: 16px;
                //     line-height: 160%;
                //     /* identical to box height, or 26px */


                //     color: #163791;

                // }
            }


            .four{
                display: flex;
                justify-content: flex-start;


                .question{
                 font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 160%;
margin-left: 10px;
color: #163791;


                }


                .answer{
                    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */


color: #333333;
margin-left: 30px;
                }
                // p {
                //     margin-top: 9px;
                //     font-family: 'Open Sans';
                //     font-style: normal;
                //     font-weight: 600;
                //     font-size: 16px;
                //     line-height: 160%;
                //     /* identical to box height, or 26px */


                //     color: #163791;

                // }
            }

           
            .fif{
                display: flex;
                justify-content: flex-start;


                .question{
                 font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 160%;
margin-left: 10px;
color: #163791;


                }


                .answer{
                    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

/* identical to box height, or 26px */


color: #333333;
margin-left: 30px;
                }
                // p {
                //     margin-top: 9px;
                //     font-family: 'Open Sans';
                //     font-style: normal;
                //     font-weight: 600;
                //     font-size: 16px;
                //     line-height: 160%;
                //     /* identical to box height, or 26px */


                //     color: #163791;

                // }
            }


        }


        .secondsection{

            .card{
               
            }
            .card-body{
                h5{
                    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box height */


color: #333333;
margin-left: 30px;
margin-top: 25px;
                }

                // p{
                //    .f{
                //     font-family: 'Open Sans';
                //     font-style: normal;
                //     font-weight: 400;
                //     font-size: 16px;
                //     line-height: 180%;
                //     /* or 29px */
                    
                    
                //     color: #333333;
                //     margin-left: 30px;
                //     margin-right: 21px;
                //     margin-top: 13px;
                //    }

                
                // }
                .f{
                    margin-left: 30px;
                    margin-right: 21px;
                    margin-top: 13px; 
                    }
                    p{
                        font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 180%;
                    /* or 29px */
                    
                    
                    color: #333333;
                  
                }

                .s{
                    margin-left: 30px;
                    margin-right: 21px;
                    margin-top: 15px;
                    margin-bottom: 33px;
                    p{
                        font-family: 'Open Sans';
                     font-style: normal;
                     font-weight: 400;
                     font-size: 16px;
                     line-height: 180%;
                     /* or 29px */
                     
                     
                     color: #333333;
                    

                    }
                }


                // p{
                  
 
                //     .s{
                //      font-family: 'Open Sans';
                //      font-style: normal;
                //      font-weight: 400;
                //      font-size: 16px;
                //      line-height: 180%;
                //      /* or 29px */
                     
                     
                //      color: #333333;
                //      margin-left: 30px;
                //      margin-right: 21px;
                //      margin-top: 15px;
                //      margin-bottom: 33px;
                //     }
                //  }
            }
        }



    }
}