$btn-danger: #D42443;
$slide: #163791;
$hover: #e73b5b;

.banner {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    max-width: 100%;
    background-image: url("../../assets/images/bannerimages/Group\ 134.png");
    background-position: center;

    .bannersection {
      
        .row {
            .bannerheading {
              
              .logoimage {
                    display: none;
                }

                h1 {
                    margin-top: 245px;
                    font-family: 'Poppins';
                    font-weight: 700;
                    font-size: 42px;
                    line-height: 63px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                 
                }

                p {
                    text-align: center;
                    color: white;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                   
                }


            }
         .conatiner {
                margin-bottom: 157px;
                margin-top: 40px;

                .options {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #FFFFFF;
                    align-items: center;
                     margin: 0px 70px;
                    box-sizing: border-box;
                    border-radius: 10px;
                    flex-wrap: wrap;

                    .firstsection {
                        border-right: 1px solid #e3e3e3;
                        flex-grow: 4;
                        flex-basis: 35%;
                        margin: 0px 10px;
                        padding: 0px 5px;

                        .form-select {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            color: black;
                            width: 100%;
                            flex-basis: 30%;
                            border-radius: 0px solid white;
                            font-size: 1rem;
                            background-color: white;
                            background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
                            background-repeat: no-repeat;
                            background-position: right 0.75rem center;
                            background-size: 10px 12px;
                            border: none;
                            appearance: none;


                        }

                    }

                    .seacondsection {
                        flex-grow: 4;
                        flex-basis: 35%;
                        margin: 0px 10px;
                        padding: 0px 5px;

                        .form-select {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            color: black;
                            width: 100%;
                            border-radius: 0px solid white;
                            font-size: 1rem;
                            font-weight: 400;
                            background-color: white;
                            background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
                            background-repeat: no-repeat;
                            background-position: right 0.75rem center;
                            background-size: 10px 12px;
                            border: none;
                            appearance: none;
                            font-family: "Open Sans";


                        }

                    }

                    .searchbutton{
                        flex-grow: 3;
                        flex-basis: 15%;
                        height: 65px;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                        text-align: center;
                        justify-content: center;
                        background-color: $btn-danger;
                        border-radius: 0px 10px 10px 0px;

                        .btn-danger {

                            border: none;
                            width: auto;
                            height: 100%;
                            font-style: normal;
                            font-weight: 700;
                            font-family: 'Open Sans';
                            line-height: 25px;

                            border-radius:0px 10px 10px 0px;
                            background-color: $btn-danger;


                            a {
                                text-decoration: none;
                                color: white;
                                margin: 0px 10px;
                                font-weight: 700;
                                text-align: center;
                                font-family: 'Open Sans';
                                font-size: 18px;

                                &:hover {
                                    transition: 0.2s;
                                    color: white;
                                    margin: 0px 10px;
                                    font-weight: 700;
                                    text-align: center;
                                    font-family: 'Open Sans';
                                    font-size: 20px;

                                }
                            }
                           

                        }

                    }
                }
            }
        }
    }
}









@media screen and (min-width: 500px) and (max-width: 840px) {
    .banner {
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        max-width: 100%;
        background-image: url("../../assets/images/bannerimages/Group\ 134.png");
        background-position: center;
        .bannersection {
            margin-top: 0px;
            margin-bottom: 0px;
            .row {
                .bannerheading {
                    .logoimage {
                        display: none;
                        text-align: center;
                    }

                    h1 {
                        font-family: 'Poppins';
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 43px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        margin-left: 30px;
                        margin-right: 30px;
                        margin-top: 80px;
                    }
    
                    p {
                        text-align: center;
                        color: white;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        margin-left: 40px;
                        margin-right: 40px;
                       
                    }
                }



                .conatiner {
                    margin-top: 19px;
                    margin-bottom: 130px;
                   .options {
                        display: flex;
                        height: 42px;
                        justify-content: center;
                        align-items: center;
                        box-sizing: border-box;
                        border-radius: 10px;
                        margin-left: 60px;
                        margin-right: 60px;
                        .firstsection {

                            flex-basis: 100%;
                            margin: 5px auto;
                            border: none;


                            .form-select {
                                border-radius: 0px;
                                border: none;
                                padding: 5px 20px;
                                font-weight: 400;
                                font-size: 16px;
                                color: black;
                                width: 100%;
                                flex-basis: 30%;
                                border-radius: 100px white;
                                font-size: 1rem;
                                font-weight: 400;
                                background-color: white;
                                background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
                                background-repeat: no-repeat;
                                background-position: right 0.75rem center;
                                background-size: 10px 12px;
                                border: none;
                                appearance: none;

                            }

                        }

                        .seacondsection {
                            flex-basis: 100%;
                            margin: 0px 3px;
                            display: none;

                            .form-select {
                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                color: black;
                                width: 100%;
                                border-radius: 0px solid white;
                                font-size: 1rem;
                                font-weight: 400;
                                background-color: white;
                                background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
                                background-repeat: no-repeat;
                                background-position: right 0.75rem center;
                                background-size: 10px 12px;
                                border: none;
                                appearance: none;
                                font-family: "Open Sans";
                            }
                        }

                        .searchbutton {

                            margin-top: 24px;
                            margin-left: auto;
                            margin-right: auto;
                            flex-grow: 0;
                            border-radius: 10px;
                            width: 95px;
                            height: 38px;


                            .btn-danger {

                                background-color: $btn-danger;
                                border-radius: 10px;
                                width: 95px;
                                height: 38px;


                                a {
                                    text-decoration: none;
                                    font-weight: 700;
                                    font-size: 14px;
                                    line-height: 19px;
                                    // line-height: 19px;
                                    // margin: 23px 10px;
                                    font-family: 'Open Sans';


                                    &:hover {
                                        transition: 0.2s;
                                        color: white;
                                        font-style: 14px;
                                    }
                                }




                            }

                        }
                    }
                }
            }
        }
    }
}





@media screen and  (max-width: 500px) {

    .banner {
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        max-width: 100%;
        background-image: url("../../assets/images/bannerimages/Group\ 134.png");
        background-position: center;

        .bannersection {
            margin-top: 50px;
            margin-bottom: 0px;

            .row {
                .bannerheading {
                    .logoimage {
                        display: none;
                        text-align: center;
                    }

                    h1 {

                        margin-top: 25px;
                        margin-bottom: 10px;
                        margin-left: 25px;
                        margin-right: 25px;
                        font-size: 22px;
                        line-height: 120%;
                        text-align: center;
                        text-transform: uppercase;
                        text-align: center;
                        color: #FFFFFF;
                    }

                    p {
                        margin-top: 10px;
                        margin-left: 42px;
                        margin-right: 42px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 160%;
                        color: #FFFFFF;
                        
                    }


                }



                .conatiner {
                    margin-top: 19px;
                    margin-bottom: 130px;

                    .options {
                        display: flex;
                        height: 42px;
                        justify-content: center;
                        align-items: center;
                        box-sizing: border-box;
                        border-radius: 10px;
                        margin-left: 45px;
                        margin-right: 45px;


                        .firstsection {

                            flex-basis: 100%;
                            margin: 5px auto;
                            border: none;


                            .form-select {
                                border-radius: 0px;
                                border: none;
                                padding: 5px 20px;
                                font-weight: 400;
                                font-size: 16px;
                                color: black;
                                width: 100%;
                                flex-basis: 30%;
                                border-radius: 100px white;
                                font-size: 1rem;
                                font-weight: 400;
                                background-color: white;
                                background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
                                background-repeat: no-repeat;
                                background-position: right 0.75rem center;
                                background-size: 10px 12px;
                                border: none;
                                appearance: none;

                            }

                        }


                        .seacondsection {

                            flex-basis: 100%;
                            margin: 0px 3px;
                            display: none;

                            .form-select {
                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                color: black;
                                width: 100%;
                                border-radius: 0px solid white;
                                font-size: 1rem;
                                font-weight: 400;
                                background-color: white;
                                background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
                                background-repeat: no-repeat;
                                background-position: right 0.75rem center;
                                background-size: 10px 12px;
                                border: none;
                                appearance: none;
                                //  padding: 0px 30px;
                                font-family: "Open Sans";


                            }

                        }



                        .searchbutton {

                            margin-top: 24px;
                            margin-left: auto;
                            margin-right: auto;
                            flex-grow: 0;
                            border-radius: 10px;
                            width: 95px;
                            height: 38px;


                            .btn-danger {

                                background-color: $btn-danger;
                                border-radius: 10px;
                                width: 95px;
                                height: 38px;


                                a {
                                    text-decoration: none;
                                    font-weight: 700;
                                    font-size: 14px;
                                    line-height: 19px;
                                    // line-height: 19px;
                                    // margin: 23px 10px;
                                    font-family: 'Open Sans';


                                    &:hover {
                                        transition: 0.2s;
                                        color: white;
                                        font-style: 14px;
                                    }
                                }




                            }

                        }

                    }


                }






            }

        }


    }




}