.infobanner {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-image: url("../../assets/images/infobanner/Group 133.png");
}
.infobanner .container {
  width: 100%;
}
.infobanner .container .row .tex {
  margin-top: 172px;
  margin-bottom: 40px;
}
.infobanner .container .row .tex h1 {
  color: white;
  font-family: "Poppins";
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-size: 42px;
  font-weight: 700;
}
.infobanner .container .row .tex p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: white;
  margin-top: 5px;
}
.infobanner .container .row .tex .but {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 154px;
  padding: 5px;
  font-size: 18px;
  font-family: "Open Sans";
}
.infobanner .container .row .tex .but button {
  width: 140px;
  height: 42px;
  color: white;
  font-weight: bold;
  background: #D42443;
}
.infobanner .container .row .tex .but button:hover {
  background: #e73b5b;
}

@media screen and (max-width: 500px) {
  .infobanner {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-image: url("../../assets/images/infobanner/Group 133.png");
  }
  .infobanner .container {
    width: 100%;
  }
  .infobanner .container .row .tex {
    margin-top: 61px;
  }
  .infobanner .container .row .tex h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
  }
  .infobanner .container .row .tex p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: white;
    margin-top: 10px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .infobanner .container .row .tex .but {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 48px;
    font-family: "Open Sans";
  }
  .infobanner .container .row .tex .but button {
    width: 95px;
    height: 38px;
    color: white;
    font-weight: bold;
    background: #D42443;
  }
  .infobanner .container .row .tex .but button:hover {
    background: #e73b5b;
  }
}
@media screen and (max-width: 500px) and (max-width: 500px) {
  .infobanner {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-image: url("../../assets/images/infobanner/Group 133.png");
  }
  .infobanner .container {
    width: 100%;
  }
  .infobanner .container .row .tex {
    margin-top: 61px;
    margin-left: auto;
    margin-right: auto;
  }
  .infobanner .container .row .tex .but {
    text-align: center;
    font-size: 16px;
    font-family: "Open Sans";
  }
  .infobanner .container .row .tex .but button {
    width: 95px;
    height: 38px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: "Open Sans";
    background: #D42443;
    border-radius: 10px;
  }
  .infobanner .container .row .tex .but button:hover {
    background: #e73b5b;
  }
}/*# sourceMappingURL=info.css.map */