
.infobanner {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-image: url("../../assets/images/infobanner/Group\ 133.png");

    

    .container {
        width: 100%;

        .tex {
            margin: 40px 10px;
            text-align: center;
           

            h1 {
                color:white;
                font-family: 'Poppins';
                text-align: center;
                text-transform: uppercase;
                font-style: normal;
                font-size: 42px;
                font-weight: 700;
            }

            p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                color: white;
            }
            .but{
                 text-align: center;
                 margin: 20px auto;
                 padding: 5px;
                 font-size: 18px;
                 font-family: 'Open Sans';
                 button{
                    width: 200px;
                    color: white;
                    font-weight: bold;
                    background: #D42443;
                    &:hover{
                        background: #e73b5b;
                    }
                 }
            }
            


        }

        


    }

}



@media screen and (max-width: 480px) {

    .infobanner {
        width: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        background-image: url("../../assets/images/infobanner/Group\ 133.png");
    
        
    
        .container {
            width: 100%;
    
            .tex {
                margin: 10px auto;
                text-align: center;
               
    
                h1 {
                    color:white;
                    font-family: 'Poppins';
                    text-align: center;
                    text-transform: uppercase;
                    font-style: normal;
                    font-size: 18px;
                    font-weight: 700;
                }
    
                p {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    color: white;
                    margin: 10px auto;
                }
                .but{
                     text-align: center;
                     margin: 0px auto;
                    //  padding: 3px;
                     font-size: 16px;
                     font-family: 'Open Sans';
                     button{
                        width: 95px;
                        height: 38px;
                        color: white;
                        font-weight: bold;
                        font-size: 14px;
                        font-family: 'Open Sans';
                        background: #D42443;
                        &:hover{
                            background: #e73b5b;
                        }
                     }
                }
                
    
    
            }
    
            
    
    
        }
    
    }
    


}