.footer {
    width: 100%;
    overflow-x: hidden;
    background-color: #163791;

    .row {
        margin-top: 59px;
        margin-bottom: 40px;

        p {
            margin-top: 25px;
            margin-bottom: 25px;
            text-align: center;


            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 200%;
            /* identical to box height, or 32px */
            color: #FFFFFF;

            opacity: 0.85;


        }

        .text-center {
            a {
                 padding: 6px;
                background-color: #163791;
                
                border-radius: 50%;
                border: 1px solid white;
                cursor: pointer;
                width: 35px;
                height: 35px;
                text-align: center;
                  margin: 0px 5px;

                i {
                 text-align: center;
                     margin: auto;
                     

                    &:hover {
                        background-color: white;
                        color: #163791
                    }

                }

                &:hover {
                    background-color: white;
                    color: #163791
                }


            }
        }
    }
}


@media screen and (max-width: 500px) {
    .footer {
        width: 100%;
        overflow-x: hidden;
        background-color: #163791;
        padding: 1px;

        .row {
            margin-bottom:0px;
           margin-top: 0px;
        
            .image {
                img {
                    margin-top: 60px;
                    width: 216px;
                    height: 32px;
                }
            }

            .para {
                p {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 200%;
                    margin-top: 0px;
                    margin-left: 25px;
                    margin-right: 25px;
                    /* or 28px */
                    
                    text-align: center;
                    
                    color: #FFFFFF;
                    
                    opacity: 0.85;


                }
            }
            .justify{
                margin-bottom: 50px;
                a {
                  
                    background-color: #163791;
                    
                    border-radius: 50%;
                    border: 1px solid white;
                    cursor: pointer;
                    i {
                        // font-size: 20px;
                    

                        &:hover {
                            background-color: white;
                            color: #163791
                        }

                    }

                    &:hover {
                        background-color: white;
                        color: #163791
                    }


                }
            }
        }
    }

}