.contact {
  width: 100%;
  overflow-x: hidden;
  background-color: white;
}
.contact .container .row {
  margin-bottom: 34px;
}
.contact .container .row h2 {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.contact .container .row p {
  color: #333333;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 39px;
}
.contact .container .row .image img {
  width: 100%;
}
.contact .container .row .form-floating label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}
.contact .container .row .form-floating label .fw-bold {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}
.contact .container .row .form-floating .fw-bold {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #333333;
}
.contact .container .row .form-floating textarea {
  height: 200px;
}
.contact .container .row .butt .btn-danger {
  background: #D42443;
  border-radius: 10px;
}
.contact .container .row .butt .btn-danger:hover {
  background: #e73b5b;
}

@media screen and (max-width: 500px) {
  .contact .container {
    width: 100%;
    overflow-x: hidden;
    margin: 0px auto;
  }
  .contact .container .row .para p {
    font-family: "Open Sans";
    margin-left: 50px;
    margin-right: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 25px;
  }
  .contact .container .row .image {
    display: none;
  }
  .contact .container .row h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-top: 55px;
  }
  .contact .container .row .form-floating {
    margin-top: 0px;
  }
  .contact .container .row .form-floating label {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
  }
  .contact .container .row .form-floating label .fw-bold {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
  }
  .contact .container .row .form-floating .fw-bold {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
  }
  .contact .container .row .form-floating textarea {
    height: 200px;
  }
  .contact .container .row .butt .btn-danger {
    background: #D42443;
    border-radius: 10px;
  }
  .contact .container .row .butt .btn-danger:hover {
    background: #e73b5b;
  }
}/*# sourceMappingURL=contact.css.map */