.industrylist {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;

    .container {
        .row {
            margin-bottom: 100px;
            margin-top: 10px;
        }
    }

    .textdata {
        text-align: center;

        h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            margin-top: 85px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            text-transform: uppercase;
            color: #333333;

        }

        p {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            margin-top: 15px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
            color: #333333;
        }
        img {
            width: 56px;
            height: 58px;
            border-radius: 50%;
            text-align: center;
            padding: 1px;
        }
    }


    .card {
        margin: 0px auto;
        width: 100px;
        height: 100px;
        background: #163791;
        border-radius: 50%;
        display: flex;
        cursor: pointer;
        align-items: center;
        text-align: center;
        justify-content: center;

        // img {
        //     width: 62px;
        //     height: 64px;
        //     border-radius: 50%;
        //     text-align: center;
        //     padding: 2px;
        // }

        &:hover {
            background-color: #D42443;
            transition: 0.2s ease-in-out;
        }
    }

    .texthead {
        margin: 4px auto;
        p {

            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            margin: 10px auto;
            text-align: center;
            text-transform: uppercase;
        }

    }

}



@media screen and (max-width: 580px) {
    .industrylist {
        width: 100%;
        overflow-x: hidden;
        background-color: white;

        .textdata {
            text-align: center;
            margin-top: 40px;

            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
                text-transform: uppercase;
                color: #333333;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 25px;
                margin-right: 25px;
                text-align: center;

            }


            p {

                color: #333333;
                padding: 1px;
                text-align: center;
                line-height: 160%;
                margin-left: 23px;
                margin-right: 23px;
                font-weight: bold;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 25px;
                text-transform: uppercase;

            }



        }
        .container {
            .row {
                margin-bottom: 10px;
                margin-top: 20px;
            }
        }
        .slider {

            width: 90px;
            height: 90px;
            margin-bottom: 110px;
            .card {
                background: #163791;
                border-radius: 100px;
                cursor: pointer;
                align-items: center;
                text-align: center;
                justify-content: center;
                img {
                    width: 55.8px;
                    height: 47.7px;
                }

                &:hover {
                    background-color: #D42443;
                    transition: 0.2s ease-in-out;
                }

                &:hover {
                    color: #D42443;
                }
            }
        }


        .texthead {
          p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                text-transform: uppercase;
                color: #333333;
                text-align: center;
                &:hover {
                    font-size: 16px;
                    color: #D42443;
                    transition: 0.2s;
                }
            }

        }

    }
}