.industrylist {
  width: 100%;
  overflow-x: hidden;
  margin: 30px auto;
  padding: 0px;
  background-color: white;
}
.industrylist .slider {
  margin: 15px auto;
}
.industrylist .textdata {
  text-align: center;
}
.industrylist .textdata h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.industrylist .textdata p {
  color: #333333;
  padding: 3px;
  text-align: center;
  margin: 10px 2px;
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}
.industrylist .textdata img {
  width: 56px;
  height: 58px;
  border-radius: 50%;
  text-align: center;
  padding: 1px;
}
.industrylist .p-2 {
  cursor: pointer;
}
.industrylist .card {
  margin: 0px auto;
  width: 80px;
  height: 80px;
  background: #163791;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.industrylist .card img {
  width: 56px;
  height: 58px;
  border-radius: 50%;
  text-align: center;
  padding: 2px;
}
.industrylist .card:hover {
  background-color: #D42443;
  transition: 0.2s ease-in-out;
}
.industrylist .texthead {
  margin: 4px auto;
}
.industrylist .texthead p {
  margin: 10px auto;
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .industrylist {
    width: 100%;
    overflow-x: hidden;
    margin: 0px auto;
    padding: 0px;
    background-color: white;
  }
  .industrylist .slider {
    margin: 5px auto;
  }
  .industrylist .textdata {
    text-align: center;
  }
  .industrylist .textdata h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
  }
  .industrylist .textdata p {
    color: #333333;
    padding: 1px;
    text-align: center;
    margin: 5px 1px;
    font-weight: bold;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
  }
  .industrylist .p-2 {
    cursor: pointer;
  }
  .industrylist .card {
    margin: 0px auto;
    width: 80px;
    height: 80px;
    background: #163791;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .industrylist .card img {
    width: 56px;
    height: 58px;
    border-radius: 50%;
    text-align: center;
    padding: 1px;
  }
  .industrylist .card:hover {
    background-color: #D42443;
    transition: 0.2s ease-in-out;
  }
  .industrylist .texthead {
    margin: 4px auto;
  }
  .industrylist .texthead p {
    margin: 10px auto;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
  }
  .industrylist .texthead p:hover {
    font-size: 18px;
    transition: 0.2s;
  }
}/*# sourceMappingURL=indestry.css.map */