.states {

    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: #F4F4F4;
    width: 100%;
    .row {
        margin-top: 60px;
        margin-bottom: 60px;
        .Stateheading {
            text-align: center;
            margin-left: auto;
            margin-right: auto;

            h2 {
                text-align: center;
                font-size: 34px;
                font-family: 'Poppins';
                font-style: normal;
                margin: 10px auto;
                text-transform: capitalize;
                color: black;
                font-weight: 700;
            }

            p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                text-transform: uppercase;
                color: #333333;
                margin-bottom: 30px;
                margin-top: 15px;

            }
        }

        .credits {
            .flagdata {
                .image-fluid {
                    width: 24px;
                    height: 16px;
                }

                a {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: #163791;
                    text-decoration: none;
                    color: #163791;

                    &:hover {
                        color: #D42443;
                        ;
                    }

                }
            }
        }
        h6{
            color:#D42443;
            margin-top:10px ;
            text-transform: capitalize;
            font-size: 14px;
        }
    }
}



@media screen and (max-width: 700px) {

    .states {

        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        background: #F4F4F4;


        .row {
            margin-top: 50px;
            margin-bottom: 50px;
            .Stateheading {
                text-align: center;
                margin: 10px auto;

                h2 {
                    text-align: center;
                    font-size: 18px;
                    font-weight: 700;
                    font-family: 'Poppins';
                    font-style: normal;
                    margin: 13px auto;
                    text-transform: capitalize;
                    color: black;
                    font-weight: 700;

                }

                p {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 160%;
                    text-align: center;
                    text-transform: uppercase;
                    color: #333333;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-bottom: 10px;
                }
            }


            .credits {
                text-align: justify;
                margin-top: 20px;

                .flagdata {
                    margin-left: 40px;
                    
                    .image-fluid {
                        width: 20px;
                        height: 16px;
                    }

                    a {
                        color: '#163791';
                        font-size: 12px;
                        font-family: sans-serif;
                        font-weight: 400;
                        margin: 1px 1px;
                        text-decoration: none;
                        text-transform: capitalize;

                        &:hover {
                            color: #D42443;

                        }

                    }
                }

            }
            h6{
                color:#D42443;
                margin-top:10px ;
                text-transform: capitalize
            }

        }

    }

}





@media screen and (max-width: 500px){

    .states {

        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        background: #F4F4F4;


        .row {
            margin-top: 50px;
            margin-bottom: 50px;
            .Stateheading {
                text-align: center;
                margin: 10px auto;

                h2 {
                    text-align: center;
                    font-size: 18px;
                    font-weight: 700;
                    font-family: 'Poppins';
                    font-style: normal;
                    margin: 13px auto;
                    text-transform: capitalize;
                    color: black;
                    font-weight: 700;

                }

                p {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 160%;
                    text-align: center;
                    text-transform: uppercase;
                    color: #333333;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-bottom: 10px;
                }
            }


            .credits {
                text-align: justify;
                margin-top: 20px;

                .flagdata {
                    margin-left: 50px;
                    
                    .image-fluid {
                        width: 20px;
                        height: 16px;
                    }

                    a {
                        color: '#163791';
                        font-size: 12px;
                        font-family: sans-serif;
                        font-weight: 400;
                        margin: 1px 1px;
                        text-decoration: none;
                        text-transform: capitalize;

                        &:hover {
                            color: #D42443;

                        }

                    }
                }

            }

            h6{
                color:#D42443;
                margin-top:10px ;
                text-transform: capitalize
            }

        }

    }

}